/* Simple CSS rules */

body {
    background-color: deeppink;
    padding: 10vw;
}

h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 8rem; /* standard typewriter font size is 1 rem */
    animation-name: loop1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}














.box1 {
    background-color: whitesmoke;
    width: 20vw;
    height: 20vw;
    padding: 2vw; /* internal distance */
    margin: 2vw; /* external distances */
    color: red;
    border: 10px solid #000;
    border-radius: 40px 40px 0 40px;
    box-shadow: 0 5px 10px 0 #61072e;
    transition-property: all;
    transition-duration: 0.3s;



 }

.ball {
    width: 5vw;
    height: 5vw;
    background-color: whitesmoke;
    border-radius: 5vw;
    box-shadow: 0 5px 10px 0 #39021a;
    animation-name: jump1;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

.ball2 {
    width: 5vw;
    height: 5vw;
    background-color: whitesmoke;
    border-radius: 5vw;
    box-shadow: 0 5px 10px 0 #39021a;
    animation-name: jump1;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}




 .box1:hover { 
    /* width: 25vw;
    height: 25vw; */


    box-shadow: 0 0px 100px 0 #1d010d;
    /* transform: translate3d(-2.5vw,-2.5vw,0) 
                perspective(300px)
                rotateX(15deg)
                rotateY(15deg)
                rotateZ(15deg)
                ;
    transition-property: all;
    transition-duration: 0.4s; */
 }








 /****** This is a simple animation *****/
@keyframes loop1 {
    0% {
        transform: rotateY(0deg) perspective(300px);

    }

     100% {
        transform: rotateY(180deg) perspective(300px);
    }
    
}


@keyframes jump1 {
    0% {
        transform: translate3d(0,0,0);

    }

     100% {
        transform: translate3d(0,-2vw,0);

    }
    
}